﻿@{
    Layout = "/Views/Shared/_constructor.cshtml";
}
<h2>Введите параметры правильной усечённой пирамиды в поля ниже</h2>
<div id="error__message">(введите ЧИСЛО больше нуля)</div>
<form action="" method="post">
    <input type="number" id="wid__T" placeholder="p1 (периметр основания [ABCDE])" name="p1" value="" />
    <input type="number" id="wid__B" placeholder="p2 (периметр основания [abcde]) " name="p2" value="" />
    <input type="number" id="hei" placeholder="a (апофема [OS])" name="a" value="" />
    <button>Посчитать</button>
</form>
<script src="~/jquery-3.4.1.min.js"></script>
<script src="~/indexjs.js"></script>

