﻿@{
    Layout = "/Views/Shared/_constructor.cshtml";
}

<h1>Доброго времени суток, здесы вы можете посчитать боковую поверхность правильной усеченной пирамиды</h1>
<h2>Для начала расчёта нажмите на кнопку - продолжить</h2>
<a href="/Home/Calculator/">Продолжить</a>

